* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

header {
  width: 100vw;
  position: fixed;
  z-index: +111;
  background: #24bd4381;
}

header nav {
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding-top: 20px;
}

header nav ul {
  display: flex;
  gap: 100px;
}

header nav .logo {
  display: flex;
  align-items: center;
}

header nav .logo h1 {
  color: #46a358;
  font-size: 25px;
}

header nav ul li a {
  color: #3d3d3da9;
  font-size: 19px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-bottom: 10px;
  transition: 0.1s;
}

header nav ul li a:active {
  color: #000;
  border-bottom: 3px solid #46a358;
  transition: 0.4s;
}

/* icons */

header nav .icons {
  display: flex;
  align-items: center;
  gap: 40px;
}

header nav .icons #icon {
  font-size: 21px;
}

@media screen and (maxwidth: 980px) {
  header nav {
    display: flex;
    flex-wrap: wrap;
  }
}
